@font-face {
    font-family: "PT Serif Caption";
    src: url("../../fonts/PTSerifCaptionRegular/PTSerifCaptionRegular.eot");
    src: url("../../fonts/PTSerifCaptionRegular/PTSerifCaptionRegular.eot?#iefix")format("embedded-opentype"),
    url("../../fonts/PTSerifCaptionRegular/PTSerifCaptionRegular.woff") format("woff"),
    url("../../fonts/PTSerifCaptionRegular/PTSerifCaptionRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

