.page-header {
  width: 100%;
  background-color: #fff;
}
.page-header__inner {
  width: 1200px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 20px;
}
.logo {
  display: inline-block;
  font-size: 0;
  margin-right: 25px;
}
