.page-header {
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid @gray-lighter;
}
.page-header__inner {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 15px 10px 20px 10px;
	.logo {
	margin-right: @margin*2;
	}
}
.page-header__contacts {
	font-family: @font-family;
	font-size: @text-size-small;
	line-height: @line-height-small;
	font-size: normal;
	margin-left: 120px;
	margin-right: 40px;
	width: 23.333%;
	a {
		display: block;
		color: @gray-dark;
		font-size: @text-size + 2;
		font-family: @font-family-heading;
		line-height: normal;
		font-weight: normal;
		margin-bottom: @margin / 5;
	}
}